@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro, sans-serif;
	background-color: #FFFFFF;
	margin: 0;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
/* Header */
header {
	width: 100%;
	height: 8%;
	background-color: #5D5E5D;
	border-bottom: 1px solid #353635;
}
.logo {
	font-weight: bold;
	letter-spacing: 4px;
	text-align: center;
	width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}
.logo img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}
a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

a.papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #117011;
}

/* About Section */
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	max-width: 400px;
	min-width: 100px;
	text-align: center;
	float: left;
	margin-top: 15px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	border-radius: 3px;
	padding-top: 20px;
	
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000000;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.gallery .thumbnail h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000000;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.gallery .thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
}
.thumbnail2 {
	max-width: 400px;
	min-width: 100px;
	text-align: center;
	float: left;
	margin-top: 15px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	border-radius: 3px;
	padding-top: 20px;
	
}
.gallery .thumbnail2 h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000000;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.gallery .thumbnail2 p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
}
/* More info */
.intro {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
.intro .column h3 {
	color: #FFFFFF;
	text-align: center;
}
.intro .column p {
	color: #FFFFFF;
}
.cards {padding-left: 20px;
	padding-right: 20px;
	width: 85%;
	height: auto;
	max-width: 300px;
	max-height: 150px;
	
}
.intro .column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	margin-top: 4%;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #6DC7D0;
	color: #FFFFFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
footer {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
}
.intro {
	display: inline-block;
	background-color: #6DC7D0;
}
.profile {
	width: 50%;
}
.gallery .thumbnail .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.gallery .thumbnail2 .tag {
	color: #5D5E5D;
	text-align: left;
	padding-left: 1%;
	padding-right: 1%;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding: 0;
}
.intro .column p {
	width: 80%;
	margin-left: 0px;
}
.text_column {
	padding-left: 20px;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 100%;
}
.text_column {
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}
.column {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.profile {
	width: 100%;
}
.intro .column p {
	width: 90%;
	text-align: center;
	padding-left: 0px;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 48%;
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
}

@media (min-width: 320px) and (max-width: 320px){
}

@media (max-width: 320px){
}


.one {
  width: 160px;
  height: 160px;
  position: relative;
}
.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

tr.spaceUnder>td {
  padding-left: 1%;
}


td.teaser {
  padding-left:1%;
  padding-right:1%;
  padding-top:10px;
  padding-bottom:10px;
  width:28%;
  vertical-align:middle;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #F0F0F8;
}
td.description {
  padding:0px;
  width:100%;
  vertical-align:middle;
  font-size: 12px;
}

td.panel {
  padding-left: 2%;
  padding-right:2%;
  padding-top:10px;
	padding-bottom:10px;
  width:68%;
  vertical-align:top;
  text-align: right; 
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; 
  background: #F0F0F8;
}

img.teaser {
  max-width:100%;
  padding-bottom:10px;
}

p.description {
  text-align:justify;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}


venue {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;  
  color: #FF0000;
  font-weight: 700;
}

author {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

span.highlight {
  background-color: #ffffd0;
}

.title .date { float:right }
.title .name { float:right }

.boxed {
  border: 1px solid green ;
} 